[package]
name = "platforms-parser"
version = "0.1.8"
edition = "2024"
description = "A library for extracting streaming data from various online platforms."
repository = "https://github.com/hua0512/rust-srec"
license = "MIT OR Apache-2.0"
keywords = ["streaming", "extractor", "downloader"]
categories = ["multimedia::streaming", "api-bindings"]

[dependencies]
bytes = { version = "1.11.0" }
tokio = { version = "1.48.0", features = [
    "rt-multi-thread",
    "io-util",
    "macros",
] }
reqwest = { version = "0.12", default-features = false, features = [
    "json",
    "stream",
    "rustls-tls",
    "gzip",
    "deflate",
] }
rustls = { version = "0.23", default-features = false, features = [
    "logging",
    "ring",
    "tls12",
] }
rustls-platform-verifier = "0.6.2"
url = "2.5"
thiserror = "2.0"
libsm = "0.6.0"

serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"

regex = { version = "1.12", default-features = false, features = [
    "std",
    "unicode-perl",
] }
 
 # Logging
tracing = "0.1"
tracing-subscriber = "0.3"
async-trait = "0.1.89"
tars-codec = { path = "../tars-codec" }
rustc-hash = { version = "2.1" }
rand = "0.9.1"
boa_engine = { version = "0.21.0", optional = true, features = ["annex-b"] }
uuid  = {version = "1.18.1", features = ["v4"], optional = true}
m3u8-rs = "6.0.0"
md-5 = "0.10.6"
num_enum = "0.7.5"

[features]
default = ["douyu"]
douyu = ["boa_engine", "uuid"]
